<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TCS Alpha Cloud 4.0</title>
    <link rel="shortcut icon" href="{% static 'profile_app/images/tcs.png' %}" alt="TCS">
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'profile_app/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'profile_app/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'profile_app/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'profile_app/css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'profile_app/images/favicon.png' %}" />
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="{% static 'profile_app/images/logo.png' %}" class="mr-2" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'profile_app/images/logo.png' %}" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <span style="font-size:24px;color:#4B49AC;">TCS Alpha Cloud 4.0</span>
            <ul class="navbar-nav navbar-nav-right">
                <!--<li class="nav-item dropdown">
                    <h5 style="color:#000000;font-weight:bold;padding-top: 6px;">Hostname: {{data}} </h5>
                </li>-->
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" style="color:#000000;font-weight:bold;padding-top: 6px;">
                        <img src="{% static 'profile_app/images/profile.png' %}" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="icon-grid menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'profile_create' %}">
                        <i class="icon-layout menu-icon"></i>
                        <span class="menu-title">Create Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile_data' %}">
                        <i class="icon-columns menu-icon"></i>
                        <span class="menu-title">Profile Data</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Create Profile</h4>
                                <form class="forms-sample" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="emp_name">Employee Name</label>
                                        <input type="text" name="emp_name" class="form-control" id="emp_name" placeholder="Employee Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="emp_num">Employee Number</label>
                                        <input type="number" name="emp_id" class="form-control" id="emp_num" placeholder="Employee Number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_number">Phone Number</label>
                                        <input type="number" name="phone_number" class="form-control" id="phone_number" placeholder="Phone Number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;"  required>
                                    </div>
                                    <p>{{error}}</p>
                                    <input type="submit" class="btn btn-primary mr-2" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="{% static 'profile_app/vendors/js/vendor.bundle.base.js' %}"></script>
</body>

</html>

